<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">To see the GitHub repositories that I've built, please check the following links.</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="github-component height-full text-left border border-gray-light bg-white rounded-1 p-3">
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h1 class="f4 lh-condensed mb-1">
          <a href="https://github.com/isshiki">
            {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
            <span class="text-normal">personal:</span>
            @isshiki
          </a>
        </h1>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="github-component height-full text-left border border-gray-light bg-white rounded-1 p-3">
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h1 class="f4 lh-condensed mb-1">
          <a href="https://github.com/DeepInsider">
            {% octicon organization height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Organization %}
            <span class="text-normal">company:</span>
            @DeepInsider
          </a>
        </h1>
      </div>
    </div>
  </div>

</div>

<!-- <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for repository in site.github.public_repositories limit: 999 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include repo-card.html %}
    </div>
  {% endfor %}
</div> -->
